################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TransportCanada/.vs/TransportCanada/v15
/API1/.vs/TransportCanada/v15
/SiteEtAPI1/.vs/TransportCanada
